<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<table border="1px" title="lalal">
			<tr>
				<td>昵称</td>
			</tr>
			<tr th:each="friend : ${friendList}">
				<td th:text="${friend.nickname}"></td>
			</tr>
		</table>
	</div>
	<div>
		<textarea rows="20" cols="50"></textarea>
		<br /> 
		<input type="text" /> 
		<input type="button" value="send" />
	</div>
</body>
</html>