<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="pangwilllee" />
<meta name="keywords" content="chat-demo" />
<title>Demo</title>
<link href="/static/vanilla-cream/css/bootstrap.css" rel="stylesheet" />
<link href="/static/vanilla-cream/style.css" rel="stylesheet" />
<link href="/static/mCustomScrollbar/jquery.mCustomScrollbar.css" />
<!-- main JS libs -->
<script src="/static/vanilla-cream/js/libs/modernizr.min.js"></script>
<script src="/static/vanilla-cream/js/libs/jquery-1.10.0.js"></script>
<script src="/static/vanilla-cream/js/libs/jquery-ui.min.js"></script>
<script src="/static/vanilla-cream/js/libs/bootstrap.min.js"></script>
<script src="/static/vanilla-cream/js/general.js"></script>
<!-- Include all needed stylesheets and scripts here -->
<script src="/static/vanilla-cream/js/jquery.customInput.js"></script>
<script src="/static/vanilla-cream/js/custom.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
</head>
<body>
	<div class="container" style="margin-top:10px">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<ul class="row pricing_box price_style2">
					<li class="price_col col_active price_col_green">
						<div class="price_item">
							<div class="inner">
								<div class="price_col_head">
									<img src="/static/images/headicon/avatar1.png" alt=""> <span
										class="price"><em>Profile</em></span>
								</div>
								<div class="price_col_body clearfix">
									<div class="price_body_inner">
										<div class="price_body_top">
											<p>
												<strong th:text="${user.useraccount}">NULL</strong>
											</p>
											<span th:text="${user.userId}">null</span>
										</div>
										<ul>
											<li>Beijing,China</li>
											<li>Progammer,Game</li>
										</ul>
									</div>
								</div>
								<div class="price_col_foot">
									<div class="sign_up">
										<a href="#" class="btn btn-large btn-green"
											onclick="logout();"><span>Logout Now</span></a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h2>Chat Room</h2>
				<div class="comment-list clearfix" id="comments"
					style="height: 400px; overflow-y: scroll; overflow-x: hidden;">
					<ol style="padding-right: 5px">
					</ol>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="add-comment boxed gradient" id="addcomments">
					<div class="add-comment-title">
						<h3>Leave a message</h3>
					</div>
					<div class="comment-form">
						<div class="form-inner">
							<div class="field_text field_textarea">
								<label for="message" class="label_title">Content</label>
								<textarea cols="30" rows="10" name="message" id="message"
									class="textarea textarea_middle required gradient"
									style="outline: none;"></textarea>
							</div>
							<div class="clear"></div>
						</div>
						<div class="rowSubmit">
							<span class="btn btn-red link-submit"><input type="button"
								id="send" value="Send" class="gradient" onclick="sendMessage();"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript">
	function logout() {
		$.ajax({
			method : "POST",
			url : "/common/logout",
			dataType : "json",
			success : function(result) {
				var code = result.code;
				if (code == 0) {
					disconnect();
					window.location.href = "/common/login";
				}
			}
		});
	}

	function appendContent(messagebody) {
		var messageJson = JSON.parse(messagebody);
		var headicon = messageJson.headicon;
		var useraccount = messageJson.useraccount;
		var message = messageJson.message;
		console.log(headicon+" "+useraccount+" "+message);
		var content = "<li class=\"comment first\">"
				+ "<div class=\"comment-body gradient\">"
				+ "<div class=\"comment-arrow\"></div><div class=\"comment-avatar\">"
				+ "<div class=\"avatar\"><img src=\"/static/images/headicon/"+headicon
				+"\" alt=\"\"></div></div><div class=\"comment-text\">"
				+ "<div class=\"comment-author clearfix\">"
				+ "<a href=\"#\" class=\"link-author\">" + useraccount
				+ "</a></div><div class=\"comment-entry\">" + message
				+ "</div></div><div class=\"clear\"></div></div></li>";
		$("#comments ol").append(content);
		var scrollHeight = $("#comments").prop("scrollHeight");
		$("#comments").scrollTop(scrollHeight);
	}

	function connection() {
		var socket = new SockJS('/endpointSang');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/topic/getResponse', function (response) {
				appendContent(response.body);
            })
        });
	}

	function disconnect() {
		if (stompClient != null) {
			stompClient.disconnect();
		}
	}

	function sendMessage() {
		var useraccount = [[${user.useraccount}]];
		var message = $("#message").val();
		$("#message").prop("value","");
		stompClient.send("/sendWebSocketMessage", {}, JSON.stringify({
			'useraccount' : useraccount,'message':message,'headicon':''
		}));
	}

	$(document).ready(function() {
		connection();
		$(document).keyup(function(event){  
            if(event.keyCode ==13){  
            	sendMessage();
            }  
        });  
	});
</script>
</html>